<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/common.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/main.css') }}"/>
    <script type="text/javascript" src="{{ static_url('js/libs/modernizr.min.js') }}"></script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="/admin_main" class="navbar-brand">后台管理</a></h1>想`
            <ul class="navbar-list clearfix">
                <li><a class="on" href="/admin_main">首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="#">管理员</a></li>
                <li><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                    <ul class="sub-menu">
                        <li><a href="/admin_toreview?result=0&max_id=99999&limit_num=10"><i class="icon-font">&#xe008;</i>待审核的圈子</a></li>
                        <li><a href="/admin_toreview?result=1&max_id=99999&limit_num=10"><i class="icon-font">&#xe005;</i>已审核的圈子</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">待审核的圈子</span></div>
        </div>

        <div class="result-wrap">
            <form name="myform" id="myform" method="post">

                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>圈子名称</th>
                            <th>圈子头像</th>
                            <th>创建人</th>
                            <th>创建时间</th>
                            <th>创建理由</th>
                            <th>审核状态</th>
                            <th>操作</th>
                        </tr>
                        {% for value in resultdata%}
                        <tr>
                            <td class="tc"><input name="id[]" value="58" type="checkbox"></td>
                            
                            <td>{{value['circle_name']}}</td>
                            
                            <td><img src= "{{value['circle_icon_url']}}" height="50" width="50"></td>
                            <td>{{value['circle_type_name']}}</td>
                            <td>{{value['creator_name']}}</td>
                            <td>{{value['reason_message']}}</td>
                            <td>
                               <button name="agree" id="agree" >同意</button>
                               <button name="reject" id="reject" >拒绝</button>
                            </td>
                        </tr>
                        {% end %}
                    </table>
                    <div class="list-page"> 2 条 1/1 页</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
<script type="text/javascript"> 
    $(
       function()
       {
        $("#agree").click(function()
            {
                var passw = hex_md5($("#pwd").val())
                alert(passw)
                var info_json = {'telephone':$("#user").val(),'password':passw};
                var info_json_string = JSON.stringify(info_json)
              //alert($("input[name='_xsrf']").val());
              $.post("/login",{'info_json':info_json_string,'_xsrf':$("input[name='_xsrf']").val()},function(data,statusCode){
                    alert(data.Data.response.adlevel)
                    if (data.Data.response.adlevel == '1')
                    {  
                        alert('in 1')
                        window.location.href="/admin_main"; 
                    }
              },"json");
            });
       
       }
        );
</script>
</body>
</html>
