<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>CBTableViewDataSource.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>LinqToObjectiveC.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Masonry.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Alumn.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>RBStoryboardLink.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>ReactiveCocoa.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>objectiveflickr.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53480ED0BE09FF49E34B1702D485CAAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64502E4E24CEF6AC9F8C481F8F2BDF2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E541DB54EDDCF73D6CC979B37313340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8638A059014477F5882DD59BDDCA0314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>928353533005A4198EBDA5B700D37B64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9978195DFCCC3A8D931BDF4C34698DC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0082B99530AD52F7D93788ECD9E72D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E84B8811FCA99973072222CA3E833D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
